@font-face{
font-family: BCSans;
font-style: normal;
src: url('BCSans-Regular.woff2') format('woff2'), /* Optimized for very modern browsers */
url('BCSans-Regular.woff') format('woff'); /* Modern Browsers */
}
@font-face{
font-family: BCSans;
font-style: italic;
src: url('BCSans-Italic.woff2') format('woff2'), /* Optimized for very modern browsers */
url('BCSans-Italic.woff') format('woff'); /* Modern Browsers */
}
@font-face{
font-family: BCSans;
font-weight: 700;
src: url('BCSans-Bold.woff2') format('woff2'), /* Optimized for very modern browsers */
url('BCSans-Bold.woff') format('woff'); /* Modern Browsers */
}
@font-face{
font-family: BCSans;
font-style: italic;
font-weight: 700;
src: url('BCSans-BoldItalic.woff2') format('woff2'), /* Optimized for very modern browsers */
url('BCSans-BoldItalic.woff') format('woff'); /* Modern Browsers */
}

@media screen and (min-width: 300px) and (max-width: 499px) {
  h1 {
    font-size: 1.0em;
    visibility: visible;
  }

  h2 {
	font-size: 18px;
	visibility: visible;
  }
}

@media screen and (min-width: 500px) and (max-width: 899px) {
  h1 {
    font-size: calc(9px + 2.2vw);
    visibility: visible;
  }

  h2 {
	font-size: calc(11px + 1.5vw);
	visibility: visible;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 2.0em;
    visibility: visible;
  }

  h2 {
	font-size: 1.2em;
	visibility: visible;
  }
}

h2 {
	font-weight: 700;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 18px;
	visibility: visible;
	font-weight: 700;
	margin-top: 0.4em;
	margin-bottom: 0.4em
}

h4 {
	font-size: 14px;
	visibility: visible;
	font-weight: 700;
	margin-top: 0.25em;
	margin-bottom: 0.25em
}

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: BCSans;
}

/*
The following three are for the bslib package
*/

#header-links-linkList > div > div {
  min-width: 280px;
}


.link_list_div {
  margin-left:auto;
  margin-right:50px !important;
}

.bslib-card[data-full-screen='true'] {z-index: 100001;}



.recalculating {
    opacity: 1 !important;
}

.popover {
  max-width: 500px; /* Maximum width of the popover */
  word-wrap: break-word; /* Allow long words to break */
  padding: 15px; /* Padding inside the popover */
  font-size: 16px; /* Font size */
  background-color: #f0f0f0; /* Background color */
  color: #333; /* Text color */
  border-radius: 10px; /* Rounded corners */
  z-index: 100002;
}

.popover-header {
  background-color: #007bff; /* Header background color */
  color: white; /* Header text color */
  font-weight: bold; /* Make the header text bold */
}

.popover-body {
  background-color: #f8f9fa; /* Popover body background */
}

.btn-choose_page {
  min-width: 200px;
  display: flex;
  justify-content: left;
}

 #choose_page {
   border: 1px dotted black;
   border-radius: 10px; /* Rounded corners */
 }


svg {
  max-height: 450px;
}
